// Visually hidden pattern
.ghost {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  left: -9999px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  top: auto !important;
  width: 1px !important;
}
