{% macro Profile() %}
  <button class="profile" type="button">
    <span class="ghost">profile</span>
    <span class="profile__icon">
      <img src="/images/profile.svg" alt="profile" width="15" height="17">
    </span>
  </button>
{% endmacro %}