{% macro Health() %}
  <section class="section health">
    <div class="container">
      <div class="health__content">
        <h2 class="health__title">
          <span class="health__title-text is-highlighted">Twój</span>
          <span class="health__title-text">kompleksowy przegląd</span>
          <span class="health__title-text is-highlighted">stanu zdrowia</span>
        </h2>
        <span class="health__logo">
          <img src="/images/health-logo.svg" alt="logo" width="112" height="94">
        </span>
      </div>
    </div>
  </section>
{% endmacro %}