//
// Basic styles for buttons.
//

%button {
  @include trs();
  align-items: center;
  background-color: var(--color-2--1-o1);
  border: 0.5px solid var(--color-2--1);
  border-radius: 50px;
  color: var(--color-2--1);
  cursor: pointer;
  display: flex;
  font-family: var(--typo-1);
  font-size: 1.6rem;
  font-weight: var(--fw-normal);
  justify-content: center;
  min-height: 40px;
  min-width: 190px;
  padding: 8px 20px;
  position: relative;
  text-align: center;

  @include on-hover() {
    background-color: var(--color-2--1);
    color: $color-white;

    span[class*='fa-'] {
      color: $color-white;

      &::before {
        color: $color-white;
      }
    }
  }

  span[class*='fa-'] {
    color: inherit;
    pointer-events: none;

    &::before {
      color: inherit;
      line-height: 1.2;
    }
  }
}

%button-style-only-icon {
  @extend %button;
  border-radius: 50%;
  height: 40px;
  min-width: 40px;
  padding: 10px;
  width: 40px;

  span[class*='fa-'] {
    &::before {
      font-size: 2rem;
    }
  }
}

%button-secondary-style {
  background-color: var(--color-2--1);
  color: $color-white;

  @include on-hover() {
    background-color: var(--color-1--1);
    border-color: var(--color-1--1);
    color: var(--color-2--1);
  }
}

%button-style-link {
  @extend %button;
  text-decoration: none;
}

.btn {
  @extend %button;

  &.is-only-icon {
    @extend %button-style-only-icon;
  }

  &.is-link {
    @extend %button-style-link;
  }

  &.is-secondary {
    @extend %button-secondary-style;
  }
}
