.js-dropdown {
  position: relative;
}

.js-dropdown-block {
  background-color: $color-white;
  border: 1px solid var(--color-1--1);
  left: 0;
  list-style: none;
  min-width: 100%;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 100%;
  transform: translateY(-10px);
  transition: visibility 200ms ease-in-out, transform 350ms ease-in-out, opacity 200ms ease-in-out;
  visibility: hidden;
  width: auto;
  z-index: 5;

  &.is-open {
    opacity: 1;
    transform: translateY(2px);
    transition: visibility 200ms ease-in-out, transform 200ms ease-in-out, opacity 350ms ease-in-out;
    visibility: visible;
  }
}
